
@font-face {
  font-family: 'bosque';
  src: url('BOSQUE.otf');

  font-family: 'happytime';
  src: url('HappyTime.otf');

  font-family: 'luxerie';
  src: url('Luxerie.otf');
}

@keyframes slide-up {
  0% {opacity: 0; margin-top: 60px;}
  100% {opacity: 1; margin-top: 20px}
}

@keyframes reveal {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

* {
  padding: 0px;
}

body {
  background-color: #f7f3e9;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 5vmin;
}

.header {
  animation-name: slide-up;
  animation-duration: 2s;
  animation-timing-function: ease-in
  font-family: 'bosque';
  font-size: 17em;
  grid-column: 2 / 6;
  color: #697E8C;
  text-align: center;
  margin-top: 20px;
}

.sub-header {
  animation-name: reveal;
  animation-duration: 4s;
  grid-column: 2 / 6;
  font-family: 'happytime';
  font-size: 2.2em;
  color: #697E8C;
  text-align: center;
  margin-top: -20vmin;
}

.quote1 {
  font-family: 'bosque';
  font-size: 6em;
  grid-column: 1 / 4;
  color: #383b40;
  margin-top: 30vmin;
}
.quote-credit1 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 2 / 4;
  margin-top: -8vmin;
  color: #383b40;
}

.quote2 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 3 / 6;
  color: #383b40;
}
.quote-credit2 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 5 / 7;
  margin-top: -5vmin;
  color: #383b40;
}

.quote3 {
  font-family: 'bosque';
  font-size: 5em;
  grid-column: 1 / 4;
  color: #383b40;
}
.quote-credit3 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 3 / 5;
  margin-top: -10vmin;
  color: #383b40;
}

.quote4 {
  font-family: 'bosque';
  font-size: 7em;
  grid-column: 4 / 7;
  color: #383b40;
}
.quote-credit4 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 5 / 7;
  margin-top: -10vmin;
  color: #383b40;
}

.quote5 {
  font-family: 'bosque';
  font-size: 5em;
  grid-column: 2 / 5;
  color: #383b40;
}
.quote-credit5 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 3 / 5;
  margin-top: -10vmin;
  color: #383b40;
}

.quote6 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 1 / 4;
  color: #383b40;
}
.quote-credit6 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 3 / 5;
  margin-top: -5vmin;
  color: #383b40;
}

.quote7 {
  font-family: 'bosque';
  font-size: 5em;
  grid-column: 3 / 7;
  color: #383b40;
}
.quote-credit7 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 6 / 7;
  margin-top: -5vmin;
  color: #383b40;
}

.quote8 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 1 / 4;
  color: #383b40;
}
.quote-credit8 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 3 / 5;
  margin-top: -5vmin;
  color: #383b40;
}

.quote9 {
  font-family: 'bosque';
  font-size: 5em;
  grid-column: 2 / 6;
  color: #383b40;
}
.quote-credit9 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 5 / 7;
  margin-top: -5vmin;
  color: #383b40;
}

.quote10 {
  font-family: 'bosque';
  font-size: 6em;
  grid-column: 1 / 4;
  color: #383b40;
}
.quote-credit10 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 3 / 5;
  margin-top: -7vmin;
  color: #383b40;
}

.quote11 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 2 / 4;
  color: #383b40;
}
.quote-credit11 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 3 / 5;
  margin-top: -5vmin;
  color: #383b40;
}

.quote12 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 4 / 7;
  margin-top: 20vmin;
  color: #383b40;
}
.quote-credit12 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 5 / 7;
  margin-top: -5vmin;
  color: #383b40;
}

.quote13 {
  font-family: 'bosque';
  font-size: 7em;
  grid-column: 1 / 6;
  color: #383b40;
}
.quote-credit13 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 4 / 6;
  margin-top: -10vmin;
  color: #383b40;
}

.quote14 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 1 / 5;
  color: #383b40;
}
.quote-credit14 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 4 / 6;
  margin-top: -10vmin;
  color: #383b40;
}

.quote15 {
  font-family: 'bosque';
  font-size: 5em;
  grid-column: 4 / 7;
  color: #383b40;
}
.quote-credit15 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 6;
  margin-top: -5vmin;
  color: #383b40;
}

.quote16 {
  font-family: 'bosque';
  font-size: 6em;
  grid-column: 2 / 6;
  color: #383b40;
}
.quote-credit16 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 4 / 6;
  margin-top: -10vmin;
  color: #383b40;
}

.quote17 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 1 / 4;
  color: #383b40;
}
.quote-credit17 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 3 / 5;
  margin-top: -7vmin;
  color: #383b40;
}

.quote18 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 2 / 4;
  color: #383b40;
}
.quote-credit18 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 3 / 5;
  margin-top: -7vmin;
  color: #383b40;
}

.quote19 {
  font-family: 'bosque';
  font-size: 9em;
  grid-column: 5 / 7;
  color: #383b40;
}
.quote-credit19 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 6;
  margin-top: -15vmin;
  color: #383b40;
}

.quote20 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 1 / 4;
  color: #383b40;
}
.quote-credit20 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 3 / 5;
  margin-top: -5vmin;
  color: #383b40;
}

.quote21 {
  font-family: 'bosque';
  font-size: 5em;
  grid-column: 2 / 6;
  color: #383b40;
}
.quote-credit21 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 5 / 7;
  margin-top: -5vmin;
  color: #383b40;
}

.quote22 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 1 / 5;
  color: #383b40;
}
.quote-credit22 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 4 / 6;
  margin-top: -10vmin;
  color: #383b40;
}

.quote23 {
  font-family: 'bosque';
  font-size: 5em;
  grid-column: 2 / 6;
  color: #383b40;
}
.quote-credit23 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 4 / 6;
  margin-top: -10vmin;
  color: #383b40;
}

.quote24 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 4 / 7;
  color: #383b40;
}
.quote-credit24 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 6;
  margin-top: -7vmin;
  color: #383b40;
}

.quote25 {
  font-family: 'bosque';
  font-size: 7em;
  grid-column: 2 / 6;
  color: #383b40;
}
.quote-credit25 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 5 / 7;
  margin-top: -13vmin;
  color: #383b40;
}

.quote26 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 1 / 4;
  color: #383b40;
}
.quote-credit26 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 3 / 5;
  margin-top: -5vmin;
  color: #383b40;
}

.quote27 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 4 / 7;
  color: #383b40;
}
.quote-credit27 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 6;
  margin-top: -5vmin;
  color: #383b40;
}

.quote28 {
  font-family: 'bosque';
  font-size: 4em;
  grid-column: 1 / 4;
  color: #383b40;
}
.quote-credit28 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 3 / 5;
  margin-top: -5vmin;
  color: #383b40;
}

.quote29 {
  font-family: 'bosque';
  font-size: 9em;
  grid-column: 3 / 6;
  margin-top: 15vmin;
  color: #383b40;
}
.quote-credit29 {
  font-family: 'happytime';
  font-size: 1.5em;
  grid-column: 4 / 6;
  margin-top: -12vmin;
  color: #383b40;
}
